body
{
   padding:0;
   margin:0;
   background-color: #E0FFFF;
    
}

.app
{
   height:1000px;
   width:41%;
   margin-left:370px;
   background-color: white;
}
.header
{
   height:100px;
   width:100%;
   background-color:rgba(227, 66, 52,0.9);
   margin-bottom:10px;
   color:white;
   
}
.icon1
{
   position:absolute;
   font-size:25px;
   padding-top:35px;
   padding-left:80px;
   color:white;

}
.heading
{
   position: relative;
   padding-top:30px;
   padding-left:120px;
}
.pass
{
   height:300px;
   width:100%;
   display:flex;
   margin-left:12px;
   

}
img
{
   height:250px;
   width:200px;
   border-radius: 2%;

}
.side
{
   
   height:200px;
   margin-left:15px;
   margin-top:15px;


}
.location
{
    height:10px;
    display: flex;
    align-items: center;
    margin-right:100px;
}
.map
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:100px;
}
.description
{
    max-width:350px;
}
.country
{
    margin-left:12px;
}
a{
   margin-left:12px;
   color:grey;
   
}
.icon{
   color:red;
}
@media only screen and (min-width: 319px) and (max-width: 480px) {
  .app
  {
   height:1900px;
    margin:50px;
    margin-left:50px;
    margin-right:50px;
    width:75%;
    border-radius: 2%;
  }
  .header
  {
    height:70px;
    width:100%;
    margin-top:0px;
 }
 .icon1
{
  
   padding-left:40px;
   color:white;
   padding-top: 25px;

}

.heading
{
  
   padding-top:25px;
   font-size:17px;
   padding-left:80px;
   
}
.pass
{
   
   display:block;
   margin-left:12px;
   margin-bottom:300px;
   

}
img
{
   width:85%;
   height:200px;
   padding-left:4px;
   
}
.location
{
   height:25px;
   width:85%;

}
.description
{
    max-width:200px;
}
.country
{
    display: block;
}

}
